mixin contact({ title, type, value, action })
    -const getHrefValue = (type, value, action) =>
    -    type == "link" ? value : `${type}: ${value}${action ? `?${action}` : ""}`
    .contact
        .contact__title= title 
        if type == "text"
            .contact__value= value
        else 
            a.contact__value(href = getHrefValue(type, value, action))= value
